.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container header {
  max-width: 50%;
  flex: 0 1 auto;
}

.container section {
  max-width: 50%;
  flex: 0 1 auto;
}

.container .fileUpload--container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container .fileUpload--container p {
  height: 4em;
  margin: 0;
  margin-right: 2em;
  margin-left: 2em;
  line-height: 4em;
}

.container .fileUpload--dropzone {
  width: 100%;
  height 100px;
  flex: 0 1 auto;
  border: dotted 1px black;
  text-align: center;
}

.container .fileUpload--filelist {
  width: 100%;
  flex: 0 1 auto;
  text-align: center
}

.container .fileUpload--filelist ul {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  text-align: left;
}



