doctype html
html(lang="utf-8")
  head
    link(rel="stylesheet",href="/css/main.css")
    link(rel="stylesheet",href="/css/custom.css")
  body
    div#civicrm-importer-app
    script(src="js/bundle.js")
